/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* font is loaded locally. You can use these fonts in the template */
@font-face {
  font-family: Oswald;
  src: url("./fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Oswald;
  src: url("./fonts/Oswald/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Oswald;
  src: url("./fonts/Oswald/Oswald-Light.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Oswald;
  src: url("./fonts/Oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url("./fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url("./fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 600;
}

body {
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  padding: 0;
  background-color: lightgrey;
  margin: 0;
  width: 100vw;
}

/* ------- header-------------- */

.menu-checkbox,
.toggle-label {
  display: none;
}

.banner-img-container {
  width: 100vw;
  height: 40vw;
  overflow: hidden;
}

.banner-img {
  filter: brightness(50%);
  height: 68vw;
  margin-top: -5vw;
}

.header-section {
  position: relative;
}

.header-container {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
}

.header-top,
.header-menu-line {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1rem;
}

.header-top {
  padding: 0.5rem 0;
  border-bottom: 1px solid;
}

.menu {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.menu-item {
  padding-left: 0.5rem;
}

.menu-item a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom {
  text-align: center;
}

.big-logo {
  width: 10vw;
}

.button {
  background-color: rgb(103, 248, 103);
  font-size: 1vw;
  padding: 0.5vw;
  margin: 0 auto;
  width: 10vw;
  border-radius: 20px;
}

.button > a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 4vw;
}

/* --------- main ------------ */

.main-container {
  display: grid;
  grid-template-columns: 19vw 14vw 14vw 14vw 19vw;
  grid-column-gap: 5vw;
  grid-row-gap: 3vw;
  margin-top: 2rem;
}

.welcome {
  grid-column: 2 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

.box {
  background-color: rgb(226, 223, 223);
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: rgb(58, 199, 58);
}

.bigger {
  font-size: 1.5rem;
}

.icon {
  width: 5vw;
}

#box1 {
  grid-column: 2 / 3;
}

#box2 {
  grid-column: 3 / 4;
}

#box3 {
  grid-column: 4 / 5;
}

/* --------- footer ---------- */
.footer-img-container {
  margin-top: 2rem;
  width: 100vw;
  height: 30vw;
  overflow: hidden;
}

.footer-img {
  height: 68vw;
  margin-top: -5vw;
}

.copyright {
  width: fit-content;
  margin: 1rem auto;
}

@media (max-width: 1020px) {
  .main-container {
    grid-template-columns: 13vw 18vw 18vw 18vw 13vw;
    font-size: 1.6rem;
  }
}

@media (max-width: 790px) {
  .banner-img-container {
    height: 130vw;
  }

  .banner-img {
    height: 130vw;
  }

  .header-top {
    width: 80%;
  }

  .big-logo {
    width: 20vw;
  }

  h1 {
    font-size: 15vw;
  }

  .button {
    width: 40vw;
    font-size: 6vw;
  }

  .menu-container {
    display: none;
  }

  .header-menu-line {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;
  }

  .menu-item {
    height: 2.5rem;
    border-bottom: 3px solid green;
    margin-bottom: 0.5rem;
    background-color: rgba(128, 128, 128, 0.4);
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 0;
  }

  .toggle-label {
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    width: 1rem;
    margin-left: 1rem;
  }

  .menu-checkbox:checked ~ .menu-container {
    display: block;
  }

  .main-container {
    grid-template-columns: 5vw 5vw 60vw 5vw 5vw;
    font-size: 1.6rem;
  }

  #box1,
  #box2,
  #box3 {
    grid-column: 3 / 4;
    font-size: 1.5rem;
  }

  .icon {
    width: 5rem;
  }
}
